.containerTrailer{
    display: flex;
    flex-direction: column;
    color: black;
    border: solid black 0.05rem;
    border-radius: 1.8rem;
    font-size: 1rem;
    padding: 1.2rem 2rem 2rem 2rem;
    transition: ease-in-out 0.3s;
}

.containerTrailer:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.objetIframe{
    width: 35rem;
    aspect-ratio: 16/9 auto;
}

.titleFilm{
    margin-bottom: 1rem;
}
