<div class="cardmoviereco slide" >
    
    <img class="imgBack" src="{{url_film_img}}" alt="Nature Image #3">

    

    <div class="contentReco">
      <div class="containerInfoReco">

        <h1 class="titleInfoReco">{{titre}}</h1>

        <div class="infoAdd">
          <p class="realisateurInfo">by {{realisateur}}</p>
          <svg width="22" height="22" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M15 12C15 13.6569 13.6569 15 12 15C10.3431 15 9 13.6569 9 12C9 10.3431 10.3431 9 12 9C13.6569 9 15 10.3431 15 12Z" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M2.45825 12C3.73253 7.94288 7.52281 5 12.0004 5C16.4781 5 20.2684 7.94291 21.5426 12C20.2684 16.0571 16.4781 19 12.0005 19C7.52281 19 3.73251 16.0571 2.45825 12Z" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          
        </div>
        
          
          <div class="minInfoAdd">
          <p class="yearInfo">{{release_year}}</p>
          <p class="moyenneInfo">{{moyenneMovie}}/5★</p>
          </div>

          
      </div>
          <div class="rightInfo">
            <div class="containerSvg" onclick="requestaddplaylist('{{id_movies}}')">
              <svg class="crossSvgInfo" width="28" height="28" viewBox="0 0 14 14" fill="currentcolor" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 1V7M7 7V13M7 7H13M7 7L1 7" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
            <button class="btn_section1" onclick=" requestTrailer('{{id_movies}}'), openPopup()">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7 4V20L20 12L7 4Z" stroke="currentcolor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>                
              Voir le film
            </button>
          </div>
    </div>

  </div>